<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todos los Planes</title>

    <link href="/css/styleEvents.css" rel="stylesheet"></head>

<body class="body">
<div class="background-color-layer" style="background-image: url('/images/allEvents.jpg')"></div>

<header class="white-text-container section-container">
    <div class="text-center">
        <h1>PLANES</h1>
    </div>
</header>

<main class="content-wrapper">

    <div class="text-center">
        <button class="btn btn-primary"onclick="location.href = '/'">Volver al inicio</button>
    </div>

    <br>
    {{#events}}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>{{name}}</h2>
                        <h3>Categoría: {{category}}</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/fire.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>{{description}}</p><br>
                                <p>Precio: {{price}}</p><br>
                            </div>
                            <button class="btn btn-primary" onclick="location.href = '/planning/new/{{name}}'">Agregar a tu planning</button>
                            <button class="btn btn-primary" onclick="location.href = '/events/{{idEvent}}'">A&ntildeadir review</button>
                            <button class="btn btn-primary" onclick="location.href = '/event/{{idEvent}}/reviews'">Reviews</button>
                            <button class="btn btn-primary" onclick="location.href = '/events/{{idEvent}}/delete'">Borrar evento</button>
                            <button class="btn btn-primary" onclick="location.href = '/events/{{idEvent}}/two'">Modificar evento</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/events}}

</main>

<div style="text-align: center">
    <img src="images/oso.jpg" class="img-responsive" alt="" style="margin-left: 750px">
</div>

<div class="text-center">
    <button class="btn btn-primary"onclick="location.href = '/'">Volver al inicio</button>
</div>

</body>
</html>