<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todos los Planes</title>

    <link href="/css/styleEvents.css" rel="stylesheet"></head>

<body class="body">
<div class="background-color-layer" style="background-image: url('/images/allEvents.jpg')"
></div>
<main class="content-wrapper">

    <!-- LEISURE -->
    <header class="white-text-container section-container">
        <div class="text-center">
            <h1>Ocio</h1>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-block">
                        <h2>Teleférico</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/teleferico.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Teleférico (con accesos en la Estación del Paseo del Pintor Rosales y en la Estación de Casa de Campo) es una magnífica oportunidad para sobrevolar la parte más verde de la ciudad y contemplar desde el aire su parte más histórica. Además de ofrecer unas vistas panorámicas inmejorables, el Teleférico es un medio de transporte rápido y sostenible para llegar al corazon de la Casa de Campo</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://entradasteleferico.emtmadrid.es/">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Teleférico&description=El Teleférico (con accesos en la Estación del Paseo del Pintor Rosales y en la Estación de Casa de Campo) es una magnífica oportunidad para sobrevolar la parte más verde de la ciudad y contemplar desde el aire su parte más histórica. Además de ofrecer unas vistas panorámicas inmejorables, el Teleférico es un medio de transporte rápido y sostenible para llegar al corazon de la Casa de Campo&price=6 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Barcas Retiro</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/retiro.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>Actualmente, el estanque ofrece varias actividades dentro del Centro Deportivo Municipal Estanque del Retiro, como barcas de remo (se dispone de 100 barcas, dos de ellas accesibles para personas en silla de ruedas), barco solar (accesible para silla de ruedas) y aula solar y la Escuela Municipal de Piragüismo, dirigida a niños y jóvenes entre 7 y 17 años.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://www.esmadrid.com/informacion-turistica/estanque-grande-de-el-retiro">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Barcas Retiro&description=Actualmente, el estanque ofrece varias actividades dentro del Centro Deportivo Municipal Estanque del Retiro, como barcas de remo (se dispone de 100 barcas, dos de ellas accesibles para personas en silla de ruedas), barco solar (accesible para silla de ruedas) y aula solar y la Escuela Municipal de Piragüismo, dirigida a niños y jóvenes entre 7 y 17 años.&price=6 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Parque de Atracciones</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/parqueatracciones.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Parque de Atracciones de Madrid es un parque de atracciones situado en Madrid, en la Comunidad de Madrid, en España, concretamente en la zona de Batán de la Casa de Campo.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://www.parquedeatracciones.es/comprar-entradas">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Parque de Atracciones&description=El Parque de Atracciones de Madrid es un parque de atracciones situado en Madrid, en la Comunidad de Madrid, en España, concretamente en la zona de Batán de la Casa de Campo.&price=25 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Teatro Flamenco</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/flamenco.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>Disfruta del mejor espectáculo de Flamenco en el centro de Madrid. Reserva ya tus entradas.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://teatroflamencomadrid.com/">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Teatro Flamenco&description=Disfruta del mejor espectáculo de Flamenco en el centro de Madrid. Reserva ya tus entradas.&price=20 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Autobús Turístico</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/bus.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>Visita Madrid a tu ritmo y sin prisas a bordo de un autobús turístico de dos pisos. Sube y baja durante todo el día con el mismo billete, cambia de ruta y conoce la historia de Madrid mediante un sistema de audio por auriculares, ¡disponible en catorce idiomas distintos!</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://madrid.city-tour.com/es/productos/bus-turistico-un-dia">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Autobús Turístico&description=Visita Madrid a tu ritmo y sin prisas a bordo de un autobús turístico de dos pisos. Sube y baja durante todo el día con el mismo billete, cambia de ruta y conoce la historia de Madrid mediante un sistema de audio por auriculares, ¡disponible en catorce idiomas distintos!&price=22 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Zoo Madrid</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/zoo.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Zoo Aquarium de Madrid es un zoológico de Madrid (España) que se encuentra en la Casa de Campo, gran parque forestal de la ciudad de Madrid. El parque pertenece a Parques Reunidos.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://www.zoomadrid.com/entradas-generales/single-ticket/select-visitors">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Zoo Madrid&description=El Zoo Aquarium de Madrid es un zoológico de Madrid (España) que se encuentra en la Casa de Campo, gran parque forestal de la ciudad de Madrid. El parque pertenece a Parques Reunidos.&price=20 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Museo del Prado</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/leisure/prado.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Museo Nacional del Prado, en Madrid, España, es uno de los más importantes del mundo, así como uno de los más visitados (el decimoctavo en 2013 entre los museos de arte), y está considerada la institución cultural más importante de España, según el Observatorio de la Cultura de 2020, estudio realizado entre varios centenares de profesionales del sector.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://entradas.museodelprado.es/?_ga=2.105185987.130870075.1646847783-347828599.1646847783">Comprar entradas</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Museo del Prado&description=El Museo Nacional del Prado, en Madrid, España, es uno de los más importantes del mundo, así como uno de los más visitados (el decimoctavo en 2013 entre los museos de arte), y está considerada la institución cultural más importante de España, según el Observatorio de la Cultura de 2020, estudio realizado entre varios centenares de profesionales del sector.&price=15 euros&category=Leisure">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RESTAURANTS -->

    <header class="white-text-container section-container">
        <div class="text-center">
            <h1>Restaurantes</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-block">
                        <h2>Filandon</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/filandon.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>"Reunión alrededor del fuego
                                    donde se contaban cuentos,
                                    se recitaban romances,
                                    se hablaba de los chascarrillos de los pueblos,
                                    incluso se cantaba y se bailaba"</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="http://filandon.es/?page_id=1704">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Filandon&description=Reunión alrededor del fuego donde se contaban cuentos,se recitaban romances,se hablaba de los chascarrillos de los pueblos,incluso se cantaba y se bailaba&price=aprox. 60 euros/pers&category=Restaurants">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Casa Julian de Tolosa</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/juliandetolosa.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>A la clásica chuleta y pimientos del piquillo elaborados ambos con las mismas técnicas que en Tolosa, Mikel Gorrotxategi suma a la oferta culinaria unas alubias de Tolosa que son icónicas en Madrid. Genuino asador vasco en el corazón de la Latina.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://cavabaja.juliandetolosa.com/reservas.html">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Casa Julian de Tolosa&description=A la clásica chuleta y pimientos del piquillo elaborados ambos con las mismas técnicas que en Tolosa, Mikel Gorrotxategi suma a la oferta culinaria unas alubias de Tolosa que son icónicas en Madrid. Genuino asador vasco en el corazón de la Latina.&price=aprox. 65 euros/pers&category=Restaurants">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Viva Madrid</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/vivamadrid.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>Fundado en 1856 como taberna, IQOptions conserva su antigua fachada de cerámica con vivos colores y la Plaza Cibeles como motivo principal pintados a mano por la prestigiosa Casa Mensaque a finales de 1920, el techo artesonado, la barra de estaño y su entorno, convierten a Viva Madrid en un lugar singular que nos transporta en el tiempo.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="http://www.restaurantevivamadrid.com/">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Viva Madrid&description=Fundado en 1856 como taberna, IQOptions conserva su antigua fachada de cerámica con vivos colores y la Plaza Cibeles como motivo principal pintados a mano por la prestigiosa Casa Mensaque a finales de 1920, el techo artesonado, la barra de estaño y su entorno, convierten a Viva Madrid en un lugar singular que nos transporta en el tiempo.&price=aprox. 20 euros&category=Restaurants">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Bodega de la Ardosa</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/vodegaardosa.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>En 1892, D. Rafael Fernández Bagena creó y fundó la famosa Cadena de Bodegas LA ARDOSA de Madrid.

                                    Propietario de la comarca vitivinícola llamada «La Ardosa» y ubicada en tierras de Toledo, D. Rafael decidió comercializar sus vinos en Madrid creando esta popular cadena que llegaría a pasar de la treintena</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://grupoardosa.es/">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Bodega de la Ardosa&description=En 1892, D. Rafael Fernández Bagena creó y fundó la famosa Cadena de Bodegas LA ARDOSA de Madrid.

                  Propietario de la comarca vitivinícola llamada «La Ardosa» y ubicada en tierras de Toledo, D. Rafael decidió comercializar sus vinos en Madrid creando esta popular cadena que llegaría a pasar de la treintena&price=aprox. 20 euros/pers&category=Restaurants">Agregar a tu planning</a></button>            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>La Ancha</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/laancha.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>La Ancha, un restaurante familiar con más de 100 años de historia donde la calidad de la comida se sostiene con recetas sin artificios, sencillas y tradicionales de puro producto. La carta cambia cada día como garantía de la frescura y calidad de producto de mercado. Raciones generosas y máxima atención al que nos visita, con un personal sincero, profesional, fiel, humilde y comprometido para que disfrute de la visita y se sienta como en casa.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://www.laancha.com/reservas/">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=La Ancha&description=La Ancha, un restaurante familiar con más de 100 años de historia donde la calidad de la comida se sostiene con recetas sin artificios, sencillas y tradicionales de puro producto. La carta cambia cada día como garantía de la frescura y calidad de producto de mercado. Raciones generosas y máxima atención al que nos visita, con un personal sincero, profesional, fiel, humilde y comprometido para que disfrute de la visita y se sienta como en casa.&price=aprox. 30 euros/pers&category=Restaurants">Agregar a tu planning</a></button>            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Malacatin</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/malacatin.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>Malacatín es uno de los doce Restaurantes Centenarios de Madrid, un viaje al pasado, una forma de entender nuestra cocina, cultura y tradiciones, en un pequeño rincón del Madrid más castizo de finales de siglo XIX. Incluso su decoración se mantiene intacta desde hace décadas y alberga pequeñas historias en cada uno de sus rincones que nos trasladan a ese Madrid del pasado, ese que casi ya no existe.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://www.malacatin.com/reservas/">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Malacatin&description=Malacatín es uno de los doce Restaurantes Centenarios de Madrid, un viaje al pasado, una forma de entender nuestra cocina, cultura y tradiciones, en un pequeño rincón del Madrid más castizo de finales de siglo XIX. Incluso su decoración se mantiene intacta desde hace décadas y alberga pequeñas historias en cada uno de sus rincones que nos trasladan a ese Madrid del pasado, ese que casi ya no existe.&price=aprox. 22 euros/pers&category=Restaurants">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Lhardy</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/restaurants/lhardy.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>Alta cocina europea en un emblemático local señorial con dulces, productos gastronómicos y tienda de comida.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://lhardy.com/reserva/">Reservar mesa</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Lhardy&description=Alta cocina europea en un emblemático local señorial con dulces, productos gastronómicos y tienda de comida.&price=aprox. 40 euros/pers&category=Restaurants">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TOURISM -->

    <header class="white-text-container section-container">
        <div class="text-center">
            <h1>Turismo</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-block">
                        <h2>Gran Via</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/granvia.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>La Gran Vía es una de las principales calles de la ciudad española de Madrid. Comienza en la calle de Alcalá y termina en la plaza de España. Es un importante hito en la ciudad desde su construcción a principios de siglo xx visto desde el punto de vista comercial, turístico y de ocio.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Gran_V%C3%ADa">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Gran Vía&description=La Gran Vía es una de las principales calles de la ciudad española de Madrid. Comienza en la calle de Alcalá y termina en la plaza de España. Es un importante hito en la ciudad desde su construcción a principios de siglo xx visto desde el punto de vista comercial, turístico y de ocio.&price=0 euros&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Plaza Mayor</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/plazamayor.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>La plaza Mayor está situada en el centro de Madrid, en el barrio de Sol, junto a la calle Mayor y a 300 metros de la Puerta del Sol.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Plaza_Mayor_de_Madrid">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Plaza Mayor&description=La plaza Mayor está situada en el centro de Madrid, en el barrio de Sol, junto a la calle Mayor y a 300 metros de la Puerta del Sol.&price=0&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Puerta de Sol</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/puertadelsol.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>La Puerta del Sol es una plaza de la ciudad española de Madrid. En ella se encuentra desde 1950 el denominado Kilómetro Cero de las carreteras radiales del país. El edificio más antiguo de la Puerta del Sol es la Casa de Correos y en ella destaca el reloj de torre que fue construido y donado en el siglo xix por José Rodríguez de Losada, y cuyas campanadas de las 12 de la noche del 31 de diciembre marcan la tradicional toma de las doce uvas a la gran mayoría de los españoles.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Puerta_del_Sol">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Puerta del Sol&description=La Puerta del Sol es una plaza de la ciudad española de Madrid. En ella se encuentra desde 1950 el denominado Kilómetro Cero de las carreteras radiales del país. El edificio más antiguo de la Puerta del Sol es la Casa de Correos y en ella destaca el reloj de torre que fue construido y donado en el siglo xix por José Rodríguez de Losada, y cuyas campanadas de las 12 de la noche del 31 de diciembre marcan la tradicional toma de las doce uvas a la gran mayoría de los españoles.&price=0 euros&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Santiago Bernabéu</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/bernabeu.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Estadio Santiago Bernabéu es un recinto deportivo propiedad del Real Madrid Club de Fútbol, situado en pleno paseo de la Castellana, en el distrito de Chamartín de Madrid, España. Se inauguró el 14 de diciembre de 1947 y su aforo actualmente es de 81 044 espectadores.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Estadio_Santiago_Bernab%C3%A9u">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Santiago Bernabéu&description=El Estadio Santiago Bernabéu es un recinto deportivo propiedad del Real Madrid Club de Fútbol, situado en pleno paseo de la Castellana, en el distrito de Chamartín de Madrid, España. Se inauguró el 14 de diciembre de 1947 y su aforo actualmente es de 81 044 espectadores.&price=15 euros&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Jardín Botánico</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/jardinbotanico.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Real Jardín Botánico de Madrid es un centro de investigación del Consejo Superior de Investigaciones Científicas. Fundado por Real Orden de 17 de octubre de 1755 por el rey Fernando VI en el Soto de Migas Calientes, cerca del río Manzanares, Carlos III ordenó el traslado a su situación actual en 1781, al Paseo del Prado, junto al Museo de Ciencias Naturales que se estaba construyendo (actualmente Museo del Prado), en Madrid, España</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Real_Jard%C3%ADn_Bot%C3%A1nico_de_Madrid">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Jardín Botánico&description=El Real Jardín Botánico de Madrid es un centro de investigación del Consejo Superior de Investigaciones Científicas. Fundado por Real Orden de 17 de octubre de 1755 por el rey Fernando VI en el Soto de Migas Calientes, cerca del río Manzanares, Carlos III ordenó el traslado a su situación actual en 1781, al Paseo del Prado, junto al Museo de Ciencias Naturales que se estaba construyendo (actualmente Museo del Prado), en Madrid, España&price=6 euros&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Palacio Real</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/palacioreal.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>El Palacio Real de Madrid, popularmente conocido también como Palacio de Oriente, es la residencia oficial del Jefe del Estado, el rey de España; no obstante, los actuales reyes no habitan en él, sino en el Palacio de la Zarzuela, por lo que es utilizado para ceremonias de Estado y actos solemnes.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Palacio_Real_de_Madrid">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Palacio Real&description=El Palacio Real de Madrid, popularmente conocido también como Palacio de Oriente, es la residencia oficial del Jefe del Estado, el rey de España; no obstante, los actuales reyes no habitan en él, sino en el Palacio de la Zarzuela, por lo que es utilizado para ceremonias de Estado y actos solemnes.&price=12 euros&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2>Catedral de la Almudena</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="/images/tourism/almudena.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">
                                <p>La Santa Iglesia Catedral Metropolitana de Santa María la Real de la Almudena, conocida simplemente como Catedral de la Almudena, es una catedral de culto católico, dedicada a la Virgen María bajo la advocación de la Almudena, y sede episcopal de Madrid.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Catedral_de_la_Almudena">Más información</a></button>
                            <button type="submit" class=" btn btn-primary"><a href="/planning/new?email=@admin&name=Catedral de la Almudena&description=La Santa Iglesia Catedral Metropolitana de Santa María la Real de la Almudena, conocida simplemente como Catedral de la Almudena, es una catedral de culto católico, dedicada a la Virgen María bajo la advocación de la Almudena, y sede episcopal de Madrid.&price=6 euros&category=Tourism">Agregar a tu planning</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- HOMEPAGE -->

<div class="text-center">
    <a class="nav-link" href="/">Volver al inicio</a>
</div>

</body>
</html>