<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ocio Madrid</title>

<link href="/static/css/style2.css" rel="stylesheet"></head>

<body class="body">
<div class="background-color-layer" style="background-image: url('/static/images/restaurants/filandon.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Ocio</h1>
    </div>
  </header>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">

           <div class="card">
             <div class="card-block">
               <h2>Teleferico</h2>
               <div class="row">
                 <div class="col-md-4">
                   <p><img src="/static/images/leisure/teleferico.jpg" class="img-responsive" alt=""></p>
                 </div>
                 <div class="col-md-8">
                 <p>El Teleferico (con accesos en la Estacion del Paseo del Pintor Rosales y en la Estacion de Casa de Campo) es una magnifica oportunidad para sobrevolar la parte mas verde de la ciudad y contemplar desde el aire su parte mas historica. Ademas de ofrecer unas vistas panoramicas inmejorables, el Teleferico es un medio de transporte rapido y sostenible para llegar al corazon de la Casa de Campo</p>
                 </div>
               </div>
               <div class="form-group">
                 <button type="submit" class=" btn btn-primary"><a href="https://entradasteleferico.emtmadrid.es/">Comprar entradas</a></button>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Barcas Retiro</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/leisure/retiro.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>Actualmente, el estanque ofrece varias actividades dentro del Centro Deportivo Municipal Estanque del Retiro, como barcas de remo (se dispone de 100 barcas, dos de ellas accesibles para personas en silla de ruedas), barco solar (accesible para silla de ruedas) y aula solar y la Escuela Municipal de Piragüismo, dirigida a niños y jóvenes entre 7 y 17 años.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://www.esmadrid.com/informacion-turistica/estanque-grande-de-el-retiro">Comprar entradas</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Parque de Atracciones</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="images/leisure/parqueatracciones.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Espectaculo Flamenco</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="images/leisure/flamenco.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Autobus Tour</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="images/leisure/bus.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Zoo Madrid</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="images/leisure/zoo.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Museo del Prado</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="images/leisure/prado.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
</body>
</html>