<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ocio Madrid</title>

<link href="/css/styleLeisureTemplate.css" rel="stylesheet"></head>

<body class="body">
<div class="background-color-layer" style="background-image: url('/images/restaurants/filandon.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Ocio</h1>
    </div>
  </header>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">

           <div class="card">
             <div class="card-block">
               <h2>Teleferico</h2>
               <div class="row">
                 <div class="col-md-4">
                   <p><img src="/images/leisure/teleferico.jpg" class="img-responsive" alt=""></p>
                 </div>
                 <div class="col-md-8">
                 <p>El Teleferico (con accesos en la Estacion del Paseo del Pintor Rosales y en la Estacion de Casa de Campo) es una magnifica oportunidad para sobrevolar la parte mas verde de la ciudad y contemplar desde el aire su parte mas historica. Ademas de ofrecer unas vistas panoramicas inmejorables, el Teleferico es un medio de transporte rapido y sostenible para llegar al corazon de la Casa de Campo</p>
                 </div>
               </div>
               <div class="form-group">
                 <button type="submit" class=" btn btn-primary"><a href="https://entradasteleferico.emtmadrid.es/">Comprar entradas</a></button>
                 <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Barcas Retiro</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/leisure/retiro.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>Actualmente, el estanque ofrece varias actividades dentro del Centro Deportivo Municipal Estanque del Retiro, como barcas de remo (se dispone de 100 barcas, dos de ellas accesibles para personas en silla de ruedas), barco solar (accesible para silla de ruedas) y aula solar y la Escuela Municipal de Piragüismo, dirigida a niños y jóvenes entre 7 y 17 años.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://www.esmadrid.com/informacion-turistica/estanque-grande-de-el-retiro">Comprar entradas</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Parque de Atracciones</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/leisure/parqueatracciones.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Parque de Atracciones de Madrid es un parque de atracciones situado en Madrid, en la Comunidad de Madrid, en España, concretamente en la zona de Batán de la Casa de Campo.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://www.parquedeatracciones.es/comprar-entradas">Comprar entradas</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Teatro Flamenco</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/leisure/flamenco.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Parque de Atracciones de Madrid es un parque de atracciones situado en Madrid, en la Comunidad de Madrid, en España, concretamente en la zona de Batán de la Casa de Campo.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://teatroflamencomadrid.com/">Comprar entradas</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Autobus Turistico</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/leisure/bus.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>Visita Madrid a tu ritmo y sin prisas a bordo de un autobús turístico de dos pisos. Sube y baja durante todo el día con el mismo billete, cambia de ruta y conoce la historia de Madrid mediante un sistema de audio por auriculares, ¡disponible en catorce idiomas distintos!</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://madrid.city-tour.com/es/productos/bus-turistico-un-dia">Comprar entradas</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Zoo Madrid</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/leisure/zoo.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Zoo Aquarium de Madrid es un zoológico de Madrid (España) que se encuentra en la Casa de Campo, gran parque forestal de la ciudad de Madrid. El parque pertenece a Parques Reunidos.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://www.zoomadrid.com/entradas-generales/single-ticket/select-visitors">Comprar entradas</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Museo del Prado</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/leisure/prado.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Museo Nacional del Prado, en Madrid, España, es uno de los más importantes del mundo, así como uno de los más visitados (el decimoctavo en 2013 entre los museos de arte), y está considerada la institución cultural más importante de España, según el Observatorio de la Cultura de 2020, estudio realizado entre varios centenares de profesionales del sector.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://entradas.museodelprado.es/?_ga=2.105185987.130870075.1646847783-347828599.1646847783">Comprar entradas</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu tablon</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
</body>
</html>