<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iniciar sesión</title>
    <meta id="_csrf_header" content="{{headerName}}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/signIn.js"></script>
    <meta charset="UTF-8">
    <link href="/css/styleNewEvent.css" rel="stylesheet"></head>

<body class="">


<div class="card">
    <div class="card-block">
        <h2>Iniciar Sesi&oacuten</h2>
        <form action="/" class="reveal-content" id="form"> <!-- falta para enviar los datos mas adelante method="post"-->

            <div class="form-group">
                <input type="email" class="form-control" name="email" pattern="[A-Za-z0-9_-]{1,15}"required placeholder="Email">
                <p id="emailFail" class="error"></p>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" pattern="[A-Za-z0-9_-]{1,15}" required placeholder="Password">
                <p id="passwordFail" class="error"></p>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" id="btnLogin" href="/">Iniciar Sesión</button>
                <button class="btn-link" onclick="location.href = '/'"> Cancelar</button>
            </div>
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</div>


</body>

</html>