<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

El evento ha sido guardado correctamente. <br><br>

EVENTO NUEVO AÑADIDO:<br>
    {{event.name}}<br>
    {{event.description}}<br>
    {{event.price}}<br>
    {{event.category}}<br><br>

<div class="form-group">
    <button type="submit" class=" btn btn-primary">
        <div class="form-group">
            <button type="submit" class=" btn btn-primary"><a href="/">Volver al index</a></button>
        </div>
    </button>

</div>
</body>
</html>