<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evento añadido</title>
    <link href="/css/styleSavedEvent.css" rel="stylesheet"></head>
</head>

<body>
<div class="text-center">
    <h2>El evento ha sido guardado correctamente: </h2>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h2>{{event.name}}</h2>
                    <h3>Categoría: {{event.category}}</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p><img src="/images/savedEvents.jpg" class="img-responsive" alt=""></p>
                        </div>
                        <div class="col-md-8">
                            <p>{{event.description}}</p><br>
                            <p>Precio: {{event.price}}</p><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"onclick="location.href = '/'">Volver al inicio</button>
                        <button class="btn btn-primary"onclick="location.href = '/events'">Volver a los planes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>