<!DOCTYPE html>
<html lang="en">

<head>
  <title>Turismo Madrid</title>

<link href="/css/styleTourismTemplate.css" rel="stylesheet"></head>

<body class="body">
<div class="background-color-layer" style="background-image: url('/images/madrid.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Turismo</h1>
    </div>
  </header>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">

           <div class="card">
             <div class="card-block">
               <h2>Gran Via</h2>
               <div class="row">
                 <div class="col-md-4">
                   <p><img src="/images/tourism/granvia.jpg" class="img-responsive" alt=""></p>
                 </div>
                 <div class="col-md-8">
                 <p>La Gran Vía es una de las principales calles de la ciudad española de Madrid. Comienza en la calle de Alcalá y termina en la plaza de España. Es un importante hito en la ciudad desde su construcción a principios de siglo xx visto desde el punto de vista comercial, turístico y de ocio.</p>
                 </div>
               </div>
               <div class="form-group">
                 <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Gran_V%C3%ADa">Más información</a></button>
                 <button type="submit" class=" btn btn-primary"><a href="/events/new?name=GranVia&description=desGV&price=100eu&category=Tourism">Agregar a tu planning</a></button>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Plaza Mayor</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/tourism/plazamayor.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>La plaza Mayor está situada en el centro de Madrid, en el barrio de Sol, junto a la calle Mayor y a 300 metros de la Puerta del Sol.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Plaza_Mayor_de_Madrid">Más información</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu planning</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Puerta de Sol</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/tourism/puertadelsol.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Puerta_del_Sol">Más información</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu planning</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Santiago Bernabeu</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/tourism/bernabeu.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Estadio Santiago Bernabéu es un recinto deportivo propiedad del Real Madrid Club de Fútbol, situado en pleno paseo de la Castellana, en el distrito de Chamartín de Madrid, España. Se inauguró el 14 de diciembre de 1947 y su aforo actualmente es de 81 044 espectadores.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Estadio_Santiago_Bernab%C3%A9u">Más información</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu planning</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Jardín Botánico</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/tourism/jardinbotanico.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Real Jardín Botánico de Madrid es un centro de investigación del Consejo Superior de Investigaciones Científicas. Fundado por Real Orden de 17 de octubre de 1755 por el rey Fernando VI en el Soto de Migas Calientes, cerca del río Manzanares, Carlos III ordenó el traslado a su situación actual en 1781, al Paseo del Prado, junto al Museo de Ciencias Naturales que se estaba construyendo (actualmente Museo del Prado), en Madrid, España</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Real_Jard%C3%ADn_Bot%C3%A1nico_de_Madrid">Más información</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu planning</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Palacio Real</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/tourism/palacioreal.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>El Palacio Real de Madrid, popularmente conocido también como Palacio de Oriente, es la residencia oficial del Jefe del Estado, el rey de España; no obstante, los actuales reyes no habitan en él, sino en el Palacio de la Zarzuela, por lo que es utilizado para ceremonias de Estado y actos solemnes.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Palacio_Real_de_Madrid">Más información</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu planning</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Catedral de la Almudena</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/images/tourism/almudena.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>La Santa Iglesia Catedral Metropolitana de Santa María la Real de la Almudena, conocida simplemente como Catedral de la Almudena, es una catedral de culto católico, dedicada a la Virgen María bajo la advocación de la Almudena, y sede episcopal de Madrid.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary"><a href="https://es.wikipedia.org/wiki/Catedral_de_la_Almudena">Más información</a></button>
              <button type="submit" class=" btn btn-primary"><a href="/events/new">Agregar a tu planning</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<div class="text-center">
  <a class="nav-link" href="/">Volver al inicio</a>
</div>

</body>
</html>