<!DOCTYPE html>
<html lang="en">

<head>
  <title>Turismo Madrid</title>

<link href="/static/css/style2.css" rel="stylesheet"></head>

<body class="body">
<div class="background-color-layer" style="background-image: url('/static/images/restaurants/filandon.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Turismo</h1>
    </div>
  </header>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">

           <div class="card">
             <div class="card-block">
               <h2>Gran Via</h2>
               <div class="row">
                 <div class="col-md-4">
                   <p><img src="/static/images/tourism/granvia.jpg" class="img-responsive" alt=""></p>
                 </div>
                 <div class="col-md-8">
                 <p>La Gran Vía es una de las principales calles de la ciudad española de Madrid. Comienza en la calle de Alcalá y termina en la plaza de España. Es un importante hito en la ciudad desde su construcción a principios de siglo xx visto desde el punto de vista comercial, turístico y de ocio.</p>
                 </div>
               </div>
               <div class="form-group">
                 <button type="submit" class=" btn btn-primary" href="https://es.wikipedia.org/wiki/Gran_V%C3%ADa">Más info </button>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Plaza Mayor</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/tourism/plazamayor.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Mas info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Puerta de Sol</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/tourism/puertadelsol.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Santiago Bernabeu</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/tourism/bernabeu.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Jardin Botanico</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/tourism/jardinbotanico.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Palacio Real</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/tourism/palacioreal.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>Catedral de la Almudena</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="/static/images/tourism/almudena.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">
                <p>info restaurante</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class=" btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
</body>
</html>