<!DOCTYPE html>
<html lang="en">

<head>
    <title>Modificar review</title>

    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>

    <link href="/css/styleNewEvent.css" rel="stylesheet">
</head>

<body>

<div class="card">
    <div class="card-block">
        <h2>Modificar review</h2>
        <form action="/event/{{idEvent}}/review/{{idReview}}/update" class="reveal-content" method="post">

            <div class="form-group">
                <input type="email" class="form-control" id="userName" name="userName" placeholder="Correo usuario" required>
                <p id="userNameFail" class="error"></p>
            </div>

            <div class="form-group">
                <textarea name="message" id="message"></textarea>
                <script>CKEDITOR.replace('message');</script>
                <p id="messageFail" class="error"></p>
            </div>

            <div class="form-group">
                <input type="submit" value="Modificar review"/>
            </div>
        </form>
    </div>
</div>


</body>

</html>