<!DOCTYPE html>
<html lang="en">

<head>
    <title>Modificar evento</title>

    <link href="/css/styleNewEvent.css" rel="stylesheet"></head>

<body class="">


<div class="card">
    <div class="card-block">
        <h2>Modificar evento</h2>
        <form action="/event/{{idEvent}}/review/{{idReview}}/update" class="reveal-content" method="post">

            <div class="form-group">
                <input type="text" class="form-control" name="userName" placeholder="Nombre de usuario">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="message" placeholder="Opinión">
            </div>

            <div class="form-group">
                <input type="submit" value="Modificar review"/>
            </div>
        </form>
    </div>
</div>


</body>

</html>